body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.biography {
  width: 75%;
  display: inline-block;
  font-size: 14px;
  line-height: 1.6;
}
.section-one {
  width: 70%;
  display: inline-block;
}
.summary {
  vertical-align: top;
  float: right;
  width: 25%;
}

.summary-table {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: 1px;
  font-size: 14px;
}

.summary-table thead th {
  background-color: #B0C4DE;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 18px;
}

.summary-table tbody tr:first-child {
  text-align: center;
}

.summary-table tbody th {
  text-align: left;
}